<!DOCTYPE html>
<html>
<head>
<style media="screen" type="text/css">



.links a, a:hover, a:focus, a:active, a.active {
  color: #fff; 
}

.recursos {
  background: #333333;
}

</style>


<title>Ejercicios</title>
</head>

 
  <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <h5><span class="name">Tus cursos</span></h5>
                            <!--img class="img-responsive" src="http://i69.photobucket.com/albums/i68/2372911/icontypewriter_zps739d3fcf.png" alt=""-->
                        <span class="skills">Da clic en la semana que te corresponde para comenzar los ejercicios.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Tus cursos Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <!--div class="col-lg-12 text-center">
                    <h2>Tus cursos</h2>
                    <h5> Da clic en la semana que te corresponde para comenzar los ejercicios.</h5>
                    <hr class="star-primary">
                </div-->
            </div>
            <div class="row">
                <div class="col-md-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <a href="/weeks/1"><img src="http://i69.photobucket.com/albums/i68/2372911/infodescriptiva_zpsc90d38a6.png" class="img-responsive" alt=""></a>
                        
                    </a>
                </div>
                <div class="col-md-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <a href="/weeks/2"><img src="http://i69.photobucket.com/albums/i68/2372911/infoopinio3010n_zps1c25f929.png" class="img-responsive" alt=""></a>
                        
                    </a>
                </div>
                <div class="row">
                <div class="col-md-6">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                       <a href="/weeks/3"><img src="http://i69.photobucket.com/albums/i68/2372911/infoexpositiva_zpsc4dfea9a.png" class="img-responsive" alt=""></a>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </section>

   <section class="recursos">
        <div class="container">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4 text-center">
                    <h4 class= "links"><a href="/answers">Tus respuestas</a></h4>
                </div>
                <div class="col-xs-6 col-md-4 text-center">
                    <h4 class= "links"><a href="/reviews">Ejercicios revisados</a></h4>
                </div>
                <div class="col-xs-6 col-md-4 text-center">
                    <h4 class= "links"><a href="http://foro.ufm.escritor.co/">Foro</a></h4>
                </div>
            </div>
        </div>
    </section>

</html>

