<!DOCTYPE html>
<html>
<head>

<title>Ejercicios</title>
</head>
<h1> Ejercicios </h1>
<body>
Da clic en la semana que te corresponde para comenzar los ejercicios

<h3 id='Semana 1'> Semana 1 </h3>
<a href="/weeks/1"> Ingresa al curso</a></p>

<h3 id='Semana 2'> Semana 2 </h3>
<a href="/weeks/2"> Ingresa al curso</a></p>

<h3 id='Semana 3'> Semana 3 </h3>
<a href="/weeks/3"> Ingresa al curso</a></p>

<h3 id='Semana 4'> Semana 4 </h3>
<a href="/weeks/4"> Ingresa al curso</a></p>

<h3 id='Semana 5'> Semana 5 </h3>
<a href="/weeks/5"> Ingresa al curso</a></p>

<h3 id='Semana 6'> Semana 6 </h3>
<a href="/weeks/6"> Ingresa al curso</a></p>
</body>
</html>

