<!DOCTYPE html>
<html>
<head>
<style media="screen" type="text/css">

h1 {text-align: center;
    vertical-align: middle;
    margin-top: 80px;
    }

h5 {text-align: center;
    vertical-align: middle;
    margin-bottom: 60px;
    }

h3 {margin-left: -150px;
    }

p {margin-left: 150px;
    margin-bottom: 50px;
}

.container img {
    width: 50%;
    height: auto;
    margin-left: 150px;
}

.semanas { }

</style>

<title>Ejercicios</title>
</head>
  <h1> Ejercicios </h1>
<body>
   <h5> Da clic en la semana que te corresponde para comenzar los ejercicios. </h4> 

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="Semanas">
        <h3> Semana 1 </h3>
          <img src="http://i69.photobucket.com/albums/i68/2372911/infodescriptiva_zpsc90d38a6.png">
            <p><a href="/weeks/1"> Ingresa al curso</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="Semana2">
        <h3> Semana 2 </h3>
          <img src="http://i69.photobucket.com/albums/i68/2372911/infoopinio3010n_zps1c25f929.png">
            <p><a href="/weeks/2"> Ingresa al curso</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="Semana3">
        <h3> Semana 3 </h3>
          <img src="http://i69.photobucket.com/albums/i68/2372911/infoexpositiva_zpsc4dfea9a.png">
            <p><a href="/weeks/3"> Ingresa al curso</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="Semana4">
        <h3> Semana 4 </h3>
          <img src="http://i69.photobucket.com/albums/i68/2372911/infonarrativa_zpsacf3c64a.png">
            <p><a href="/weeks/4"> Ingresa al curso</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="Semana5">
        <h3> Semana 5 </h3>
          <img src="http://i69.photobucket.com/albums/i68/2372911/infocreativa_zps31d5558e.png">
            <p><a href="/weeks/5"> Ingresa al curso</a></p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="Semana6">
        <h3> Semana 6 </h3>
          <img src="http://i69.photobucket.com/albums/i68/2372911/infoargumentativa_zpsfcba7b50.png">
            <p><a href="/weeks/6"> Ingresa al curso</a></p>
      </div>
    </div>
  </div>
</div>


</html>

