<h1> All the Answers go here </h1>


<% User.where(role: nil).all.each do |u| %>
  <%= u.name %>
  <ul>
  <% u.answers.each do |a| %>
    <li>
      <%= link_to a.body, a %>
    </li>
    
  <% end %>
  </ul>
<% end %>