<!DOCTYPE html>
<html>
<head>
<style media="screen" type="text/css">


#review {
  padding-bottom: 150px;
  padding-top: 20px;
}

.recursos {
  background: #333333;
}

.recursos a, a:hover, a:focus, a:active, a.active {
  color: #fff; 
}


</style>
</head>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1> Ejercicios Revisados </h1>
    </div>
  </div>
</div>

<div class="container" id="review">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <ul>
        <li class= "title"><% current_user.reviews.each do |r| %>
          <%= r.answer.exercise.title %></li>
      <li class="body"><%= link_to r.body.html_safe, r %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

   <section class="recursos">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-4 text-center">
                    <h4 class= "links"><a href="/answers">Tus respuestas</a></h4>
                </div>
                <div class="col-xs-6 col-md-4 text-center">
                    <h4 class= "links"><a href="/reviews">Ejercicios revisados</a></h4>
                </div>
                <div class="col-xs-6 col-md-4 text-center">
                    <h4 class= "links"><a href="http://foro.ufm.escritor.co/">Foro</a></h4>
                </div>
            </div>
        </div>
    </section>

</html>