<!DOCTYPE html>
<html>
<head>
<style media="screen" type="text/css">

h2 {text-align: center;
    vertical-align: middle;
    margin-top: 150px;
    }

</style>

</head>

<h2>
  ¡Felicidades, has completado el curso!
</h2>